.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 50px;
    }
  }
  .menu {
    color: #ffffff;
    ul {
      display: flex;
      gap: 20px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          svg {
            height: 30px;
            width: 30px;
            background-color: green;
            fill: white;
            padding: 3px;
          }
        }
      }
    }
  }
}
