.container {
  .container-head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .year-select {
      width: 120px;
    }
    .options {
      ul {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        li {
          cursor: pointer;
        }
      }
    }
  }
}
