// .grid-container {
//   display: grid;
//   grid-template-columns: 1fr 5px 1fr;
//   grid-template-rows: 1fr;
//   /* grid-gap: 10px; */
// }

// .grid-gutter {
//   background-color: rgba(255, 255, 255, 0.05);
//   /* border: 1px solid rgba(0, 0, 0, 0.8); */
// }

// .grid-item {
//   background-color: rgba(255, 255, 255, 0.8);
//   border: 1px solid rgba(0, 0, 0, 0.8);
//   padding: 20px;
//   font-size: 30px;
//   text-align: center;
// }

// .item1 {
//   grid-column: 1 / 2;
// }

// .item2 {
//   grid-column: 2 / 3;
// }

// .item3 {
//   grid-column: 3 / 4;
// }

// .item4 {
//   grid-column: 1 / span 4;
//   height: 5px;
// }

// .item5 {
//   grid-column: 1 / 2;
// }

// .item6 {
//   grid-column: 2 / 3;
// }

// .item7 {
//   grid-column: 3 / 4;
// }
// .gutter-vertical {
//   cursor: row-resize;
//   background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
//   background-color: rgb(229, 231, 235);
//   background-repeat: no-repeat;
//   background-position: 50%;
// }
// .gutter-horizontal {
//   cursor: col-resize;
//   background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
//   background-color: rgb(229, 231, 235);
//   background-repeat: no-repeat;
//   background-position: 50%;
// }
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}

.content {
  border: 1px solid #c0c0c0;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
